<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="templates/style/styleForm.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNTEC</title>
</head>
<body>
    <div class="formulario-aluno">
        <div class="titulo">CADASTRE-SE</div>
        <form action="#">
            <div class="formulario-dados">
                <div class="formulario-input">
                    <span class="dados">NOME : </span>
                    <input id="nome-aluno" type="text" placeholder="DIGITE O SEU NOME" required>
                </div>
                <div class="formulario-input">
                    <span class="dados">TELEFONE : </span>
                    <input id="telefone-aluno" type="text" placeholder="(XX) XXXXX-XXXX" required maxlength="16">
                </div>
                <div class="formulario-input">
                    <span class="dados">ENDEREÇO : </span>
                    <input id="endereco-aluno" type="text" placeholder="DIGITE O SEU ENDEREÇO" required>
                </div>
                <div class="formulario-input">
                    <span class="dados">DATA DE NASCIMENTO : </span>
                    <input id="dtan-aluno" type="text" placeholder="DD/MM/AAAA" required maxlength="10">
                </div>
                <div class="formulario-input">
                    <span class="dados">NOME PAI : </span>
                    <input id="nomepai-aluno" type="text" placeholder="DIGITE O NOME PAI" required>
                </div>
                <div class="formulario-input">
                    <span class="dados">NOME MAE : </span>
                    <input id="nomemae-aluno" type="text" placeholder="DIGITE O NOME DA MAE" required>
                </div>
                <div class="formulario-input">
                    <span class="dados">EMAIL : </span>
                    <input id="email-aluno" type="email" placeholder="DIGITE O SEU EMAIL" required>
                </div>
                <div class="formulario-input">
                    <span class="dados">RG : </span>
                    <input id="rg-aluno" type="text" placeholder="XX.XXX.XXX-X" required maxlength="12">
                </div>
                <div class="formulario-input">
                    <span class="dados">CPF : </span>
                    <input id="cpf-aluno" type="text" placeholder="XXX.XXX.XXX-XX" required  maxlength="14">
                </div>
                <div class="formulario-input">
                    <span class="dados">SENHA : </span>
                    <input id="senha-aluno" type="password" placeholder="DIGITE SUA SENHA" required maxlength="10">
                </div>
            </div>

            <div class="cursos">
                <input type="radio" name="cursos" id="curso-1">
                <input type="radio" name="cursos" id="curso-2">
                <input type="radio" name="cursos" id="curso-3">
                <input type="radio" name="cursos" id="curso-4">
                <span class="nome-cursos">CURSOS : </span>
                <div class="todos-cursos">
                    <label for="curso-1">
                        <span class="curso java"></span>
                        <span class="cursos">JAVA</span>
                    </label>
                    <label for="curso-2">
                        <span class="curso word"></span>
                        <span class="cursos">WORD</span>
                    </label>
                    <label for="curso-3">
                        <span class="curso excel"></span>
                        <span class="cursos">EXCEL</span>
                    </label>
                    <label for="curso-4">
                        <span class="curso windows"></span>
                        <span class="cursos">WINDOWS</span>
                    </label>
                </div>
            </div>

            <div class="botao">
                <input type="submit" value=REGISTRE-SE>
            </div>

        </form>
    </div>

        <!--COMO NÃO SABIA FORMATAR ALGUNS CAMPOS RESOLVI PESQUISAR ELES E USEI O DESSE VIDEO https://youtu.be/LT8eZdodA_0 E ACABEI USANDO O JQUERY-->
        <script>
            $('#cpf-aluno').mask('000.000.000-00', {reverse: true});
            $('#dtan-aluno').mask('00/00/0000');
            $('#telefone-aluno').mask('(00) 00000-0000');
            $('#rg-aluno').mask('00.000.000-0' , {reverse: true});
       </script>

</body>
</html>