<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="templates/style/styleIndex.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNTEC</title>
</head>
<body>
    <header>
        <img class="logo" src="templates/images/lg1.PNG" alt="logorp">
        <nav>
            <ul class="nav-bar">
                <li><a href="#">MENU</a></li>
                <li><a href="#">MATERIA</a></li>
                <li><a href="#">CALENDARIO</a></li>
            </ul>
        </nav>
            <a class="logout" href=""><button>SAIR</button></a>
    </header>
</body>
</html>