<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="templates/style/style2.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNTEC</title>
</head>
<body>
    <div class="form-principal">
        <div class="form-login">
            <h2>ENTRAR</h2>
                <div class="login">
                    <input type="text" required="required">
                    <span>Usuário</span>
                    <i></i>
                </div>
                <div class="login">
                    <input type="password" required="required">
                    <span>Senha</span>
                    <i></i>
                </div>
                <div class="not-login">
                    <a href="/form" target="_blank">Ainda não tem uma conta</a>
                </div>
                <input type="submit" value="ENTRAR">
            </div>
    </div>
</body>

</html>